# Ignore node_modules and build folders
node_modules/
build/
dist/

# Ignore configuration files
*.config.js
*.config.json

# Ignore specific file types
*.min.js
*.log
*.snap
*.lock

# Ignore any hidden files and folders
.* 

# Ignore any other specific files/folders as needed
